/**override styles for ign base template**/


/**base styles for each new project**/
body {
	background-color: black;
}

.main-section {
	min-height: 500px;
}

/**end base styles**/


// Small screens

@media only screen and (max-width: 40em) { 

	

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 



} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */
