/**override styles for ign base template**/
/**base styles for each new project**/
/* line 5, ../scss/ign_override.scss */
body {
  background-color: black;
}

/* line 9, ../scss/ign_override.scss */
.main-section {
  min-height: 500px;
}

/**end base styles**/
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
/* min-width 1025px, large screens */
